%br
#hello
  .container.main.stores
    .col-xl-8.centered
      %h1.grocery_stores 
        #{volunteer_organization.name}
    .col-lg-12.col-xs-12.storephoto
      %br
      %br
  .col-lg-12-col-xs-12.signup
    .col-xs-6.col-lg-offset-1.col-lg-2.stores_list
      .list_of_grocers
      / = need_list