%br
#hello
  .container.main.stores
    .col-xl-8.centered
      %h1.grocery_stores 
        Partner Stores
    .col-lg-12.col-xs-12.storephoto
      %br
      %br
  .col-lg-12-col-xs-12.signup
    .col-xs-6.col-lg-offset-1.col-lg-2.stores_list
      %br
      %br
      =text_field_tag "","", class: "grocer_search"
      =link_to "Store Search", 'javascript:void(0)', class: "grocers_search btn btn-lg btn-success"
      %ul.search_list
      .list_of_grocers


        %br
        %br
      .add_new_grocer
        / -if can? :create, @grocer 
        = link_to "Add New Partner", new_grocer_path
        %br
        %br
        %br
      .map_of_stores
        / -markers = '{@grocer.address}'
        / = image_tag "http://maps.google.com/maps/api/staticmap?size=1000x1000&sensor=false&markers=#{@grocer.address}}"
        / need to make a method for full_address for this to work, then call @grocer.full_address

    / 3 columns of stores that refine to a single column on a phone.


