%br
%h1.centered
  Local Needs
%br
  .col-xs-12.col-lg-12.photo
  %br
  %br
.col-xs-12.col-lg-12.signup1
  .col-xs-7.col-md-4.col-lg-12
    %br  
    -if can? :crud, @need
      = render 'form_need'
    %br
    %br
- @grocer.needs.each do |need|
  - if need.item
    .col-xs-6.col-lg-4
      %h3.centered
        / = need_list
        = need.item
        %div#number
          %span.quantity
            ul.current_quantity
          %br
          %br
        = link_to "Donate", 'javascript:void(0)', need_path: quantity_partial_path, need_quantity_decrease: need_quantity_minus_one(need), class: "quantity_decrease btn btn-lg btn-success"


  / A controller action specific to decreasing the value of the need



